@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  height: 350vh;
  font-family: "Roboto", sans-serif;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* header */
header {
  width: 100%;
  height: 100px;
  background: #202020;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo-img {
  width: 279px;
  /* height: 17vh; */
  align-items: flex-end;
}

ul.navbar {
  display: flex;
  list-style: none;
}

ul.navbar li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0 3rem;
}

ul.navbar li a:hover {
  color: #ffb400;
}

.navbar_social {
  padding-right: 2rem;
}

header .navbar_social a {
  color: #ffffff;
  font-size: 1.5rem;
  margin-left: 1rem;
  text-decoration: none;
}

header .navbar_social a:hover {
  color: #cacaca;
}

/* home */
.container {
  width: 100%;
  min-height: 640px;
  top: 100px;
  position: relative;
  display: flex;
  background: #202020;
}

.container img {
  position: absolute;
  /* top: 100px; */
  /* left: 0;
  right: 0; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  z-index: -1;
}

/* live stream */
.live_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #000000;
  width: 100%;
  height: 900px;
  overflow: hidden;
}

.live_title {
  max-width: 100%;
  margin-top: 50px;
  display: block;
  position: absolute;
  top: 50px;
}

.live_overlay {
  width: 80%;
  margin: 10px auto;
  /* z-index: 1; */
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live_frame {
  z-index: 1;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroller {
  /* background-color: red; */
  white-space: nowrap;
  overflow: hidden;
}

.scroller p {
  display: inline-block;
  font-size: 20px;
  color: #b2b2b2;
  /* background-color: red; */
}

.scroller p span {
  color: #ffb400;
}

.scroller .scroller-in-1 {
  transform: rotate(270deg);
  position: absolute;
  left: 600px;
  animation: marquee 20s linear infinite;
  width: 100%;
}

.scroller .scroller-in-2 {
  transform: rotate(90deg);
  position: absolute;
  right: 600px;
  animation: marquee2 20s linear infinite;
  width: 100%;
}

@keyframes marquee {
  from {
    top: 100%;
  }
  to {
    top: 20%;
  }
}

@keyframes marquee2 {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 20%;
  }
}

.info {
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 60px;
}

.info_1 {
  display: inline-block;
}

.info_1-1 {
  margin: 0 60px;
}

.info p {
  color: #ffffff;
  font-size: 20px;
}

.info span {
  color: #ffb400;
}

/* Caster */
.caster_container {
  background: #ffb400;
  width: 100%;
  height: 640px;
  font-size: 20px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caster_info {
  margin-right: 40px;
}

.caster_info p {
  margin: 30px 0;
}

/* .caster_img img:hover {
  transform: rotate3d(-1, 1, 0, 10deg);
} */

/* Training Camp */
.training_container {
  background: #202020;
  /* width: 1280px; */
  width: 100%;
  height: 640px;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(img/training-bg.png);
  overflow-y: hidden;
}

.training_content {
  background-color: #141414;
  width: 800px;
  /* width: 100%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 130px;
}

.training_content p {
  margin: 30px 0;
}

.character {
  margin-top: 200px;
  margin-left: -50px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Prize */

.prize_container {
  background: #ffb400;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prize {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prize img {
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 60px;
}

.event_container {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;

  height: 500px;
  /* margin: 0 80px; */
}

.event-box {
  /* box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2); */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  margin-bottom: 100px;
  width: 500px;
  /* height: 630px; */
}

.event-box:hover {
  transform: translateY(-10px);
  transition: 0.2s all linear;
}

.event-box .content {
  background-color: #202020;
  padding: 2rem 2.5rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.event-box .image {
  /* height: 25rem; */
  width: 100%;
  height: 20em;
  /* overflow: hidden; */
}

.event-box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.event-box .content h6 {
  color: #ffb400;
  font-size: 30px;
  margin-bottom: 10px;
}

.event-box .content p {
  color: #cacaca;
}

.event-box .content .btn {
  color: #a0a0a0;
  margin-top: 30px;
}

/* Final Team */
.team_container {
  /* background-color: #ffb400; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1080px;
}

.team_title {
  margin-top: 150px;
  margin-bottom: 50px;
  display: block;
}

.team_logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1280px;
}

.team_logo .box {
  position: relative;
  width: 256px;
  height: 420px;
  /* background: #a0a0a0; */
  /* margin: 10px; */
  display: inline-block;
  overflow: hidden;
}

.team_logo .box .imgBox {
  position: relative;
}

.team_logo .box:hover .imgBox .description {
  visibility: visible;
}

.team_logo .box .imgBox img {
  max-width: 100%;
  transition: transform 0.5s;
}

.team_logo .box:hover .imgBox img {
  transform: scale(1.2);
  transition: all 0.3s ease-out;
}

.description {
  color: #ffb400;
  background: rgba(0, 0, 0, 0.8);
  /* opacity: 0.8; */
  width: 256px;
  height: 420px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

/* host */
.host_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000000;
  width: 100%;
  height: 640px;

  background: url(img/TeSL.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.host_content {
  /* background-color: #141414; */
  /* width: 100%; */
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.host_content h6 {
  color: #ffb400;
  font-size: 30px;
}

.host_content p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 50px;
}

.host_content span {
  color: #ffb400;
  font-size: 30px;
}

.host_img {
  margin-top: 80px;
}

/* Footer */
.footer_container {
  background: #171717;

  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-1 {
  padding-top: 10px;
  border-right: 1px solid #484848;
  height: 280px;
  padding-right: 50px;
}

.content-2 {
  padding-left: 50px;
}

.footer_link {
  margin-top: 20px;
}

.footer_link li {
  margin-top: 10px;
}

.footer_link a {
  color: #a0a0a0;
}

.footer_link a:hover {
  color: #ffb400;
}

.footer_form {
  display: flex;
  background-color: #484848;
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
  width: 400px;
}

.footer_input {
  background-color: #484848;
  width: 240px;
  color: #f4f4f4;
}

.footer_input::placeholder {
  color: #f4f4f4;
  font-size: 0.938rem;
}

.footer_social {
  display: flex;
  column-gap: 1.25rem;
}

.footer_social a {
  font-size: 30px;
  color: #ffffff;
}

.footer_social a:hover {
  color: #cacaca;
}

.button {
  display: inline-block;
  background-color: #353535;
  color: #f4f4f4;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: #141414;
}

.button_icon {
  font-size: 1.2rem;
}

.button-flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.75rem;
}

.footer-bottom {
  background: #171717;
  color: #cacaca;
  text-align: center;
  padding-bottom: 60px;
  font-size: 15px;
}

/* Scroll up */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: #ffb400;
  border-radius: 0.25rem;
  padding: 0.45rem;
  opacity: 9;
  z-index: 10;
  transition: 0.4s;
}

.scrollup_icon {
  color: #141414;
  font-size: 1.35rem;
}

.scrollup:hover {
  background-color: #202020;
  /* opacity: 1; */
}

/* Show Scroll up */
.show-scroll {
  bottom: 5rem;
}
